<a href="https://colab.research.google.com/github/jamespaultg/XAI_workshop/blob/master/CheckSetup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Explainable AI workshop
**Check setup for the Explainable AI workshop**

Copy the contents of the github repo 'XAI_workshop' to the folder 'XAI_workshop'.  
This will copy the data and the notebooks that we will use during the worksop

In [2]:
!rm -r XAI_workshop
!git clone https://github.com/jamespaultg/XAI_workshop/

rm: cannot remove 'xaiworkshop': No such file or directory
Cloning into 'XAI_workshop'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 11 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (11/11), done.

Check if the installation of the libraries goes well

In [3]:
!pip install lime -q

Load the required libraries

In [5]:
# Load required libraries

import lime
import lime.lime_tabular

import pandas as pd
import numpy as np
import lightgbm as lgb

Load the titanic data from the repo contents we just copied
  - If the setup is fine, you will see the top 5 rows of the titanic dataset
  - Else, you get an error

---

In [17]:
# Reading the titanic data
df_titanic = pd.read_csv('XAI_workshop/data/titanic.csv')
assert len(df_titanic) == 891, 'There is an error. Please email james gnanasekaran with the details of the error message you get'
df_titanic.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

If you have so far without any errors, then you are all set




**If you have come so far without any errors, then you are all set in terms of tooling for the workshop.**
*   You can read through the paper '[Why should I trust you? Explaining predictions for any classifier](https://arxiv.org/abs/1602.04938)' to prepare yourself for the LIME workshop on 25-August.
*   You can learn more on [Google Colab here](https://colab.research.google.com/notebooks/intro.ipynb)
*   If you have **specific questions regarding LIME** that you want to address in the workshop, send them to James G or Rogier P before 18-August.